/* ROOT GLOBAL STYLES */
:root {
  box-sizing: border-box;
}

* {
  scrollbar-color: rgba(60, 60, 60, .6) rgba(0, 0, 0, 0);
}

*, *::before, *::after {
  box-sizing: border-box;
}

/* BUTTON STYLES */
button,
input[type=submit] {
  font-family: "tekturregular",
    Ubuntu,
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;;
  padding: .5rem;
  border-radius: .25rem;
  border-color: var(--secondary);
  background-color: var(--primary);
  color: var(--invert-color-text);
}

button.contrast,
input[type=submit].contrast {
  border-color: var(--color-background);
  border-width: 3px;
}

@media screen and (min-width: 1080px) {
  button.contrast-small,
  input[type=submit].contrast-small {
    border-color: var(--color-background);
    border-width: 3px;
  }
}

button:active,
input[type=submit]:active {
  background-color: var(--accent);
  color: var(--color-text)
}

button:disabled,
button:disabled:focus,
button:disabled:active,
input[type=input]:disabled,
input[type=input]:disabled:focus,
input[type=input]:disabled:active {
  background-color: var(--primary);
  border-color: var(--invert-secondary);
  opacity: 70%;
  color: var(--color-text);
}

@media (hover: hover) {
  button:hover,
  input[type=submit]:hover {
    border-color: var(--accent);
  }

  button:disabled:hover,
  input[type=submit]:disabled:hover {
    border-color: var(--invert-secondary);
    /* background-color: var(--secondary); */
    color: var(--color-text);
  }
}

.big-button {
  margin: 3em 10%;
  width: 80%;
}

/* DEFAULT IMG SIZING */
img {
  max-width: 100%;
}

/* STYLES FOR TEXT */
.text-primary {
  color: var(--primary);
}

.text-smaller {
  font-size: .8em;
}

.text-larger {
  font-size: 1.2em;
}

.text-half-size {
  font-size: .5em;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

/* REUSED SPACING STYLES */
.space-after {
  margin-right: .5em;
}

.no-top-margin {
  margin-top: 0px;
}

.min-full-ht {
  min-height: 100%;
}

/* BOX STYLES */
.block {
  display: block;
}

.flex-block {
  display: block flex;
}

.flex {
  display: flex;
}

.flex-rows {
  flex-direction: row;
  flex-wrap: wrap;
}

.flex-columns {
  flex-wrap: wrap;
  flex-direction: column;
}

.flex-1 {
  flex-basis: 1;
}

.flex-horiz-center {
  justify-content: center;
}

.flex-vert-center {
  align-content: center;
}
/* STYLES FOR GRIDS */
.gridded {
  display: grid;
}

.grid-2 {
  grid-column: 1 / span 2;
}

.grid-2-row {
  grid-row: auto / span 2;
}

.grid-right {
  justify-items: right;
}

.scroll-box {
  overflow: auto;
  scrollbar-color: inherit rgba(0, 0, 0, 0);
}

@media screen and (max-width: 1079px) {
  .gridded-small {
    display: grid;
  }

  .grid-2-small {
    grid-column: 1 / span 2;
  }

  .hidden-small {
    display: none;
  }
}

@media screen and (min-width: 1080px) {
  .gridded-large {
    display: grid;
  }

  .hidden-large {
    display: none;
  }

  .inline-large {
    display: inline;
  }
}

/* STYLES FOR COMMON FEATURES */
.popup-fullscreen {
  position: absolute;
  top: 0px;
  left: 0px;
  border: 1vw solid var(--accent);
  border-radius: 4vw;
  margin: 4vw;
  padding: 5vw;
  width: 90vw;
  height: calc(100vh - 10vw);
  box-shadow: 0px 0px 5vw var(--accent);
  background-color: var(--color-background);
  z-index: 1000;
}

.right-tray {
  position: absolute;
  top: 0px;
  right: 0px;
  margin-top: 4vh;
  margin-bottom: 4vh;
  padding: 3vh;
  width: 90vw;
  height: calc(92vh - 2vw);
  box-shadow: -2px 0px 5vw var(--accent);
  border: 1vw solid var(--accent);
  border-right: none;
  border-top-left-radius: 4vh;
  border-bottom-left-radius: 4vh;
  background-color: var(--color-background);
  z-index: 500;
  overflow: scroll;
  font-size: smaller;
}

.right-tray > button.close {
  position: sticky;
  top: 0px;
}

@media screen and (min-width: 1080px) {
  .popup-fullscreen {
    position: fixed;
    margin: 4vw 0vw;
    /* half the screen, less half of the width (including 5px margin) */
    left: calc(50vw - 335px);
    width: 680px;
    height: initial;
    /* min-width: 680px; */
    min-height: 50vh;
    border: 5px solid var(--accent);
  }

  .right-tray {
    position: relative;
    float: right;
    top: unset;
    right: unset;
    z-index: unset;
    max-width: 380px;
    max-height: 75vh;
    border-width: 5px;
    height: unset;
    margin-left: 8px;
    margin-right: -8px;
  }
}

@media screen and (min-width: 1856px) {
  .right-tray {
    position: absolute;
    top: 15vh;
    right: calc(50vw - 912px);
    box-shadow: unset;
    /* box-shadow: 5vw 0vw vw var(--accent),
      0px 0vw 5vw var(--accent),
      0px 0vw 5vw var(--accent); */
    border-right: 5px solid var(--accent);
    border-left: none;
    border-top-left-radius: unset;
    border-bottom-left-radius: unset;
    border-top-right-radius: 4vh;
    border-bottom-right-radius: 4vh;
    z-index: 10;
  }
}

.background-card {
  background-color: color(from var(--color-background) srgb r g b / 70%);
}

/* SHARED ELEMENT STYLES */
:root {
  --card-dim: 11vh;
  --card-border-radius: .5rem;
  --card-margin: 10px;
}

.card {
  width: var(--card-dim);
  height: var(--card-dim);
  border: 0.125rem solid var(--primary);
  border-radius: var(--card-border-radius);
  /* grid-column: 1; */
  text-align: center;
  align-content: center;
}

@media (hover: hover) {
  .active-cards .card:hover {
    border-color: var(--accent);
  }
}

.no-marker {
  list-style-type: none;
}