@import "./shared/robo_rally_theme.css";
@import "./shared/global.css";

body {
  min-height: 100vh;
  min-width: 100vw;
  margin: 0%;
  color: var(--color-text);
  background: var(--color-background);
  /* background-image: url("./tread-plate-tile.svg"); */
  background-repeat: repeat;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    /* place-items: center; */
  }
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  /* padding: 2rem; */
  font-weight: normal;
}

.flex-rows {
    display: flex;
    flex-wrap: wrap;
}

.flex-columns {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}


